In [1]:
print('Hello World!')
a=7
print(a)

Hello World!
7

In [2]:
print(2345)

2345

In [3]:
print("2092")

2092

In [6]:
a = 100
#print(a)
b = "Python"
print(b)

Python

In [7]:
'''It's a course
named
"python"

hf'''
print(6)

6

In [9]:
print("Let's learn about comments.")
# print(it is a single line comment)
print("Icode")

Let's learn about comments.
Icode

In [10]:
print("""Multi-line String""")
'''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj 
'''
#single line

print("My name is ayesha. I'm a student at university.I'm a good student.")

Multi-line String
My name is ayesha. I'm a student at university.I'm a good student.

In [12]:
a = "a variable"
umar = "won't allow a variable"
print(a)
print(umar)

a variable
won't allow a variable

In [13]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [15]:
a = "Icode"
b = 'Guru,'
print(a,b)
print(a,',',b)   #Shortcut ctrl + /

Icode Guru,
Icode , Guru,

In [16]:
myvariable = "Python"
print("myvariable")

myvariable

In [17]:
_myVar5 = "iCodeGuru"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(myVariableName)

88.5

In [18]:
a = 10
a = 5
print(a)

5

In [26]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"

In [27]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

In [29]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [30]:
b = 2
print(b)

2

In [31]:
#b = 45
print(b)

2

In [32]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

5
6
7

In [33]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
9793376
9793216

In [34]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

139956032129328
139956032127536

In [35]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

In [37]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

In [38]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))
var4 = True
print(type(var4))

1
5
<class 'float'>
<class 'str'>
<class 'bool'>

In [39]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [41]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [43]:
integer = 6
boolean = bool(integer)
print(boolean)

True

In [71]:
boolean = True
integer = int(boolean)
print(integer)

1

In [48]:
x = int(input("Enter anything"))
#print(x + 5)
#print(type(x))

Enter anything187

In [49]:
print('My name is Tahmas.')
a = "6"

My name is Tahmas.

In [50]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

In [51]:
a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

Enter username: 1
1
<class 'int'>
3

In [52]:
print(8.0+4)

12.0

In [53]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
#print(3 + 7)

Enter a number 1
5
<class 'int'>

In [54]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [55]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [56]:
#Division
x = 5
y = 5
z = x/y   #12/5
print(z)
print(type(z))
var = int(z)
print(var, type(var))

1.0
<class 'float'>
1 <class 'int'>

In [57]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))

1
<class 'int'>

In [58]:
print(-3/2)

-1.5

In [59]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [60]:
#Modulus
x = 5
y = 5
print(x%y)
print(type(x%y))

0
<class 'int'>

In [61]:
print(4 * 3 + 2 / 2)
# BODMAS

13.0

In [62]:
#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)

mulitiline
comment
""
''
lsdfh

In [64]:
print(12 + 5 * (4 - 2))

22

In [65]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3       
print(x)

125

In [66]:
x = 5
x **= 5    #x = x**5
print(x)

3125

In [67]:
a = 7
b = 10
print(a!=b)
#print(a==b)
#print(a<b)

True

In [72]:
x = 9
#print(x < 11 and  x < 10)
print(x < 5 or x < 10)
print(not x < 5 and not x < 10)
print(not x > 10)

True
False
True

In [73]:
x = 9
print(not x>10)

True

In [74]:
a = 20
b = 70
print(a==b or a>b)

False

In [75]:
var1 = "Python for Beginners"
#print("p" in var1)
var2 = ["orange", 5, "3.5"]
#print("orange" not in var2)

print("o" in "iCodeGuru")

True

In [76]:
var1 = "Python for Beginners"
print("python" not in var1)

True

In [77]:
a = 10
b = 10

print(a is b)
print(id(a))
print(id(b))

True
9793376
9793376

In [78]:
a = 10
b = "10"
#a = 11
print(a is b)
print(id(a))
print(id(b))

False
9793376
139956954056624

In [79]:

x = "Python"
print(x)
y = 'Programming'
print(y)

Python
Programming

In [80]:
message1 = """Hello there, I am learning
python programming language!"""
print(message1)
message2 = '''

Now, we are learning about 
multiline string'''
print(message2)

Hello there, I am learning
python programming language!


Now, we are learning about
multiline string

In [83]:
x = "String"
y = "Concatenation"
print(x + y)
z = x + " " + y  #z = StringConcatenation

print(z)

StringConcatenation
String Concatenation

In [84]:
x = "Hello"
print(x[4])
print(x[0])
print(id(x))

print(id(x[0]))
print(id(x[1]))
message = """Hello there, I am learning
python programming language!"""
print(message[6])

o
H
139956032129328
139956959041840
139956959485680
t

In [85]:
x = "Enter"
print(id(x))
print(id(x[0]))

139956941938736
139956959041648

In [86]:
x = "Pakistan "
print(x*5)

Pakistan Pakistan Pakistan Pakistan Pakistan

In [87]:
x = "Hello"
print(id(x))
print(id(x[3]))

139956032129328
139956959563440

In [88]:
list1 = [2, 3, 4, 66]     #[66, 3, 4, 2]
list1[0] = list1[3]
print(list1)

[66, 3, 4, 66]

In [89]:
string = "Python Programming Language"
# print(string[2])
print(len(string))
x = len(string)
print(x)

27
27

In [93]:
string = "Python Programming"
print(string.index("P"))
index = string.index("y")
print(index)

0
1