In [4]:
def symmdiff (a,b):
  e=set()
  for i in a:
    if i not in b:
      e.add(i)
  for i in b:
    if i not in a:
      e.add(i)
  return e
set1={0,1,2,4,5}
set2={4,5,7,8,9}
a=set1
b=set2
print(symmdiff(set1,set2))
print(set1^set2)
print(set2^set1)

{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}

In [21]:
def symmdiff (a,b):
  e=set()
  for i in a:
    if i not in b:
      e.add(i)
  for i in b:
    if i not in a:
      e.add(i)
  return e
set1=(0,1,2,4,5)
set2=(4,5,7,8,9)
a=set1
b=set2
print(symmdiff(set1,set2))
print(set1^set2)
print(set2^set1)

{0, 1, 2, 7, 8, 9}

TypeError: ignored

In [23]:
def symmdiff (a,b,c):
  e=set()
  for i in a:
    if i not in b&c:
      e.add(i)
  for i in b:
    if i not in a&c:
      e.add(i)
  for i in c:
    if i not in a&b:
      e.add(i)
  return e
set1={0,1,2,4,5}
set2={4,5,7,8,9}
set3={8,9,4,5,0}
a=set1
b=set2
c=set3
print(symmdiff(set1,set2,set3))
print(set1^set2^set3)
print(set2^set1^set3)

{0, 1, 2, 7, 8, 9}
{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7}

In [26]:
sample={("Umar","shafique"):"0301756756",("Tasawar","Abbas"):"0388728778",}
firstname=input("Enter first name")
lastname=input("Enter last name")
searchtuple=(firstname,lastname)
if searchtuple in sample:
  print(sample[searchtuple])
else:
  print("Name not Found")

Enter first nameUmar
Enter last nameshafique
0301756756

In [31]:
sample={"Umar":"0301756756","Tasawar":"0388728778",}
firstname=input("Enter first name:")
searchtuple=(firstname)
if searchtuple in sample:
  print(sample[searchtuple])
else:
  print("Name not Found")

Enter first name:Tasawar
0388728778